@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Bayon&family=Codystar&family=Encode+Sans+SC&family=Lobster+Two&family=Montserrat+Subrayada:wght@700&family=Nanum+Brush+Script&family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@300&family=Baumans&family=Bayon&family=Codystar&family=Encode+Sans+SC&family=Lobster+Two&family=Metrophobic&family=Montserrat+Subrayada:wght@700&family=Nanum+Brush+Script&family=Otomanopee+One&family=Rajdhani:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
  }
  body {
      min-height: 100vh;
      overflow-x: hidden;

    background-color:#dbdbdb ;
  }
  
  nav {
    height: 10vh;
    background: #dbdbdb;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
  }
  
  .nav-links li a {
    color: white;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Nanum Brush Script', cursive;
  }
  
  
  @media screen and (max-width: 2000px) {
    .line {
      width: 30px;
      height: 3px;
      background: rgb(107, 105, 105);
      margin: 5px;
    }
    nav {
      position: relative;
    }
  
    .hamburger {
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
    }
  
    .nav-links {
      position: fixed;
      background: #000000;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(100px at 90% -10%);
      -webkit-clip-path: circle(100px at -100% 0%);
      transition: all 1s ease-out;
      pointer-events: none;
    }
    .nav-links.open {
      clip-path: circle(1000px at 0% 0%);
      -webkit-clip-path: circle(1000px at 50% 100%);
      pointer-events: all;
      z-index: 1;
    }
    }

    .logo {
        padding: 20px;
        padding-left: 70px;
        height: 20px;
        width: 20px;
      }
      .logo strong {
        color: white;
        height: 20px;
        width: 20px;
        text-transform: uppercase;
      
      }
      
      .logo strong a {
        text-decoration: none;
        color: #634c4c;
      }

.text {
    margin: 50px;
    position: relative;
}

.text .text1 {
    padding: 20px;
    font-weight: bold;
    font-size: 25px;
}

.text .text2 {
    width: 700px;
    padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
    

.last {
    display: flex;
    

}
.last .section {
    margin-left: 40px;
    padding: 70px;
    padding-left: 120px;
    justify-content: center;
    align-items: center;
    
}

.last .section section{
    justify-content: center;
    align-items: center;
    color: #634c4c;
    font-size: 20px;
    padding: 7px;
}


