@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@300&family=Baumans&family=Bayon&family=Codystar&family=Encode+Sans+SC&family=Lobster+Two&family=Metrophobic&family=Montserrat+Subrayada:wght@700&family=Nanum+Brush+Script&family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@300&family=Baumans&family=Bayon&family=Codystar&family=Encode+Sans+SC&family=Lobster+Two&family=Metrophobic&family=Montserrat+Subrayada:wght@700&family=Nanum+Brush+Script&family=Otomanopee+One&family=Rajdhani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Bayon&family=Codystar&family=Encode+Sans+SC&family=Lobster+Two&family=Montserrat+Subrayada:wght@700&family=Nanum+Brush+Script&family=Otomanopee+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
    
  }
  body {
    font-family: sans-serif;
    background-color:#dbdbdb ;
    background-color: black;
    color: white;

  }
  
  nav {
    height: 10vh;
    background: #000000;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    font-family: 'Nanum Brush Script', cursive;
  }
  
  .nav-links li a {
    color: white;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Nanum Brush Script', cursive;
  }
  
  
  @media screen and (max-width: 2000px) {
    .line {
      width: 30px;
      height: 3px;
      background: rgb(107, 105, 105);
      margin: 5px;
    }
    nav {
      position: relative;
    }
  
    .hamburger {
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
    }
  
    .nav-links {
      position: fixed;
      background: #000000;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(100px at 90% -10%);
      -webkit-clip-path: circle(100px at -100% 0%);
      transition: all 1s ease-out;
      pointer-events: none;
    }
    .nav-links.open {
      clip-path: circle(1000px at 0% 0%);
      -webkit-clip-path: circle(1000px at 50% 100%);
      pointer-events: all;
      z-index: 1;
      
    }
    
}

.images {
    display: flex;
    width: 100vw;
    grid-template-columns: repeat(auto-fill, minmax(cover cover));

}

.logo {
    padding: 20px;
    height: 20px;
    width: 20px;
}
.logo strong {
    color: white;
    height: 20px;
    width: 20px;
    text-transform: uppercase;

}
.logo strong a {
  text-decoration: none;
  color: #a3a3a3;
}

.text {
    width: 700px;
    margin: 30px;
    font-family: 'Metrophobic', sans-serif;
}
p{
    padding: 20px;
    
}

.container {
    position:relative;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 30px;
}
.container h2 {
    position: relative;
    margin: 20px;
    display: flex;
}
img {
    display: flex;
    width: 100%;
    object-fit: cover;
    object-position:center;
}


